html{
  scroll-behavior: smooth; /*scroll suave*/
}
body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    color: #333;
  }
  * {
  margin: 0 auto;
  padding: 0%;
  font-family: Poppins, sans-serif;
}
:root {
  --bege-claro: #f2d79d;
  --verde-escoteiro: #166345;
  --laranja-escoteiro: #d99b50;
  --texto-escuro: #333;
}
 header {
    background: #1a2f38;
    border-radius: 2px;
    padding: 3px 20px;
    margin: 0;
    /* Remover a margem para ocupar 100% da largura */
    width: 98%;
    /* Descomentar esta linha para garantir 100% da largura */
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    /*background-color: #f1d598;
        padding: 12px 0;
        width: 100%;
        position: relative;*/
}

.container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegacao {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navegacao li a {
    text-decoration: none;
    color: #cfd8dc;
    font-weight: 600;
}
.navegacao li a:hover{
    color: #b64d2d;

}
.acesso a {
    margin-left: 15px;
    text-decoration: none;
    font-weight: 600;
    color: #cfd8dc;
}
 
/*------------------------------*/
.inicio {
background: url('../img/5fundo.png') center/cover no-repeat;
 height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  position: relative;
  color: white;
}
.inicio h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/*----------------------------------*/
.criadora-section {
    background: #1a2f38;
  padding: 70px 20px;
}

.criadora-container {

  background-color: rgba(133, 148, 151, 0.404);
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  padding: 30px;
  border-radius:10px;


  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  max-width: 1100px;
  margin: 0 auto;
}

.criadora-container h2 {
  color: #ffffff;
  font-family: Rubik, sans-serif;
}

.criadora-conteudo {
    color: #dadada;

  flex: 1;
  min-width: 260px;
}
.criadora-imagem img{
 width: 170px;

}
/*----------------------*/
  .servicos-dark {
    width: 96.6%;
    background-color: #243238 ;
    padding: 4rem 2rem;
  }

  .cards-mvv {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 2px 0;
  }
  
  .card-mvv {
    width: 500px;
    min-height: 320px;
    padding: 24px;
    background-color: #eeeeee;
    border-radius: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
   
  .card-mvv:hover { /*interaçãoo do cursosr sobre o card branco*/
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }
  
  .card-mvv h5 {
    margin-top: 16px;
    font-size: 1.25rem;
    color: #1a1a1a;
  }
  
  .card-mvv ul {
    margin-top: 12px;
    font-size: 0.95rem;
    color: #333;
    line-height: 1.5;
  }
  
  .icone-circulo {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icone-circulo img {
    width: 32px;
    height: 32px;
  }
  /*também embaixo*/

.notas-futuro {
  display: flex;
  flex-direction: row;
  background-color: #eeee;
  color: #222;
  padding: 20px;
  border-radius: 8px;
  margin-top: 0px;
  font-size: 0.95rem;
  text-align: left;
}

.notas-futuro img {
 position: relative;
 right: -150px;
 top: -10px;
}

.imagem-direita img {
  width: 350px;
  height: auto;
  border-radius: 10px;
  position: relative;
  left: -65px;
  top: 110px;
  z-index: 10;
}

  /*embaixoooooo*/
footer {
    background-color: #243238 ;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
}

.logo {
  width:150px;
}

.icons a {
  margin-left: 15px;
}
.icons a img {
 width: 70px;;
}
footer p {
  font-size: 14px;
  margin-top: 10px;
}
